<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
            	<div id="content">
                	<h2><a href="http://wijmo.com/blog/how-to-improve-seo-in-angularjs-applications/" target="_blank">Deprecating our AJAX crawling scheme</a></h2>
                	<p>We are no longer recommending the AJAX crawling proposal we made back in 2009.

In 2009, we made a proposal to make AJAX pages crawlable. Back then, our systems were not able to render and understand pages that use JavaScript to present content to users. Because "crawlers … [were] not able to see any content … created dynamically," we proposed a set of practices that webmasters can follow in order to ensure that their AJAX-based applications are indexed by search engines.</p>
                </div>
            </div>
        </div>
    </div>
</div>


