<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span>uyphu iSEIO</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
            	<div id="content">
                	<h2><a href="http://wijmo.com/blog/how-to-improve-seo-in-angularjs-applications/" target="_blank">Deprecating our AJAX crawling scheme</a></h2>
                	<p>uyphu is seeking documents for iSEIO. iSEIO is the process of affecting the visibility of a website or a web page in a web search engine</p>
                </div>
            </div>
        </div>
    </div>
</div>


