<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> Home</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div id="content">
                	<h2><a href="http://wijmo.com/blog/how-to-improve-seo-in-angularjs-applications/" target="_blank">How to Improve SEO in AngularJS Applications</a></h2>
                	<p>We published this application and moved on. We later realized that Google was indexing it, but not the way we wanted it to. We hadn’t considered SEO for our documentation, which was a mistake. Once we realized this was a problem, we began investigating the root issues.

There are two main problems we had when hosting content in an AngularJS application:

The title and description were not being indexed for each “page” in our documentation
Google was not crawling all of the links in our documentation
The good news is that Google DOES render the AngularJS application and indexes the content after the JavaScript has finished rendering! So people were finding our topics through Google, but the results they saw in Google were bad.

To see how Google displays a page, you can use the info: command. Here’s how Google indexed our FlexGrid Class documentation page:</p>
                </div>
            </div>
        </div>
    </div>
</div>


