<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span>uyphu xAngularXJS</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div id="content">
                	<h2><a href="http://wijmo.com/blog/how-to-improve-seo-in-angularjs-applications/" target="_blank">How to Improve xSEO in AngularXJS Applications</a></h2>
                	<p>uyphu is learning xSEO and xAngularXJs. This page is specially designed to help uyphu learn xAngularXJS as quickly and efficiently as possible</p>
                </div>
            </div>
        </div>
    </div>
</div>


